/* Sidebar */
#sidebar a #header {
    font-weight: 800;
}

#sidebar .CTA a#register {
    background: white;
    color: #455888;
    text-decoration: none;
}

#sidebar .CTA a#signin {
    background: #455888;
    color: white;
    text-decoration: none;
}


/* Main page content */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
body {
    font-family: 'Manrope', sans-serif;
    --bs-font-sans-serif: 'Manrope', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}
