* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

 /* Sidebar */
#bs-override #sidebar {
    background: #546dad;
    float: left;
    height: 100%;
    padding: 10px 0;
    position: fixed;
    width: 20% !important;
}

#bs-override #sidebar a {
    color: white;
    text-decoration: none;
}

#bs-override #sidebar ul {
    padding: 10px 10px;
    text-align: center;
}

#bs-override #sidebar ul li {
    list-style: none;
    padding: 10px 0;
    text-align: left;
}

#bs-override #sidebar ul #dropdown-menu {
    bottom: 0;
    position: relative;
}

#bs-override #sidebar ul #dropdown-menu-items {
    bottom: 0;
    left: 0;
    position: absolute;
}

#bs-override #sidebar img {
    float:left;
    margin: 10px;
}

#bs-override #sidebar header {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

#bs-override #sidebar li a.register, a.signin {
    border-radius: 5px;
    padding: 10px 25px;
}

#bs-override #sidebar li a.register {
    background: white;
    color: #455888;
}

#bs-override #sidebar li a.signin {
    background: #455888;
    color: white;
}

#bs-override #sidebar li .button {
    margin: 10px auto;
}

/* Main page content */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
body {
    font-family: 'Manrope', sans-serif;
}

#navbar, footer, .wrapper {
    float: right;
    width: 80% !important;
    text-align: center;
}

#navbar {
    background: #fafafa;
    padding: 5px 2%;
}
