{% extends "layout.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
  <div class="main-title">
    <p class="font-weight-bold">Change Password</p>
  </div>

  <form action="/change_password" method="POST">
    <div>
      <input autocomplete="off" autofocus name="current_password" placeholder="Current Password" type="password">
    </div>
    <div>
      <input autocomplete="off" autofocus name="new_password" placeholder="New Password" type="password">
    </div>
    <div>
      <input autocomplete="off" autofocus name="confirmation" placeholder="Confirm New Password" type="password">
    </div>
    <button id="change-password" type="submit">Change Password</button>
  </form>
{% endblock %}
