{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}

<!-- Main -->
{% block main %}
  <div class="main-title">
    <h1 class="font-weight-bold">DASHBOARD</h1>
  </div>

  <div class="welcome">
    <p class="text-primary">Welcome to your Budget Manager,
      <span class="text-blue">{{ username }}</span>!</p>
  </div>

  {% if budget_name %}
    <div class="budget-info">
        <p class="text-primary">BUDGET NAME: <span>{{ budget_name }}</span></p>
        <p class="text-primary">CREATED ON: <span>{{ budget_date }} at {{ budget_time }}</span></p>
    </div>
  {% else %}
    <div class="budget-info">
        <p class="text-primary font-weight-bold">You have no budget yet.</p>
        <p class="text-primary font-weight-bold">
            <a href="/create_budget">Create a budget</a> to get started.</p>
    </div>
  {% endif %}


  <!-- Cards -->
  <div class="main-cards">

    <div class="card">
      <div class="card-inner">
        <h3>SAVINGS</h3>
        <span class="material-icons-outlined text-blue">account_balance</span>
      </div>
      <p class="text-primary font-weight-bold">{{ savings }}</p>
    </div>

    <div class="card">
      <div class="card-inner">
        <h3>INCOME</h3>
        <span class="material-icons-outlined text-green">paid</span>
      </div>
      <p class="text-primary font-weight-bold">{{ income }}</p>
    </div>

    <div class="card">
      <div class="card-inner">
        <h3>EXPENSES</h3>
        <span class="material-icons-outlined text-red">payments</span>
      </div>
      <p class="text-primary font-weight-bold">{{ expenses }}</p>
    </div>

  </div>
  <!-- End Cards -->

  <!-- Charts -->
  <div class="charts">

    <div class="charts-card">
      <h2 class="chart-title">Overview</h2>
      <!--  Canvas needs to have a parent div for only the chart
            See https://www.chartjs.org/docs/latest/configuration/responsive.html#important-note -->
      <div class="charts-container">
        <canvas id="column-chart"></canvas>
      </div>
    </div>

    <div class="charts-card">
      <h2 class="chart-title">Expense Categories</h2>
      <div class="charts-container">
        <canvas id="pie-chart"></canvas>
      </div>
    </div>

  </div>
  <!-- End Charts -->
{% endblock %}
<!-- End Main -->