<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1.0">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- jQuery Custom Scroller -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/budget.ico" rel="icon">

        <!-- Custom CSS and JS files -->
        <link href="/static/css/styles.css" rel="stylesheet">
        <script src="js/script.js"></script>
    
        <title>Budget Manager: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="/static/budget.ico" width="30" height="30">
                            <a href="/"><h3>Budget Manager</h3></a>
                </div>
                <ul class="active">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/">History</a></li>
                </ul>
                {% if session["user_id"] %}
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown">
                            <img src="https://www.pinclipart.com/picdir/big/157-1578186_user-profile-default-image-png-clipart.png" alt="profile" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">{{ username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="/change_password">Change password</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                {% else %}
                    <ul class="list-unstyled CTAs">
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/login" class="signin">Sign in</a></li>
                        <li><a href="/register" class="register">Register</a></li>
                    </ul>
                    </div>
                {% endif %}
            </nav>
            
            <!-- Main page content -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                </nav>
                 {% block main %}{% endblock %}
            </div>
                
            <!-- Footer content -->
            <div id="footer" class="mb-5 small text-center text-muted">
                Budget icon created by <a href="https://www.flaticon.com/free-icons/budget" title="budget icons">Freepik - Flaticon</a>
            </div>
        </div>
    </body>
</html>