<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1">

    <!-- Poppins Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    
    <!-- Custom CSS and JS files -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <script src="../static/js/scripts.js"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!-- Grid Container -->
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          {% if session["user_id"] %}
            <span class="font-weight-bold">{{ username }}</span>
            <span class="material-icons-outlined">account_circle</span>
            
            <!-- Dropdown menu -->
            <span id="dropdown-arrow" class="material-icons-outlined">arrow_drop_down</span>
            <div id="dropdown-menu" class="dropdown-menu">
              <a href="/change_password">
                <span class="material-icons-outlined">manage_accounts</span>Settings
              </a>
              <hr>
              <a href="/logout">
                <span id="logout-button" class="material-icons-outlined">logout</span>Log Out
              </a>
            </div>

          {% else %}
            <a href="/register" class="register">Register</a>
            <a href="/login" class="login">Sign In</a>
          {% endif %}
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">savings</span>Budget Manager
            </a>
          </div>
          <span id="close-menu" class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">dashboard</span>Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">calendar_month</span>History
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">insights</span>Insights
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        {% block main %}{% endblock %}
      </main>
      <!-- End Main-->

    </div>
    <!-- End Grid Container -->
  </body>
</html>