{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block main %}
  <div class="main-title">
    <p class="font-weight-bold">Register</p>
  </div>

  <form action="/register" method="POST">
    <div>
      <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
    </div>
    <div>
      <input name="password" placeholder="Password" type="password">
    </div>
    <div>
      <input name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button id="register" class="btn btn-primary" type="submit">Register</button>
  </form>
{% endblock %}
